<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*                                                                                            ~
  ~  - #%L                                                                                        ~
  ~  - CHVote-Receiver                                                                            ~
  ~  - %%                                                                                         ~
  ~  - Copyright (C) 2016 - 2018 République et Canton de Genève                                   ~
  ~  - %%                                                                                         ~
  ~  - This program is free software: you can redistribute it and/or modify                       ~
  ~  - it under the terms of the GNU Affero General Public License as published by                ~
  ~  - the Free Software Foundation, either version 3 of the License, or                          ~
  ~  - (at your option) any later version.                                                        ~
  ~  -                                                                                            ~
  ~  - This program is distributed in the hope that it will be useful,                            ~
  ~  - but WITHOUT ANY WARRANTY; without even the implied warranty of                             ~
  ~  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                               ~
  ~  - GNU General Public License for more details.                                               ~
  ~  -                                                                                            ~
  ~  - You should have received a copy of the GNU Affero General Public License                   ~
  ~  - along with this program. If not, see <http://www.gnu.org/licenses/>.                       ~
  ~  - #L%                                                                                        ~
  ~  */                                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<side-zone-section sectionId="languages">
  <ul>
    <li *ngFor="let lang of ['de', 'fr', 'it', 'rm']">
      <a *ngIf="currentLang !== lang"
         class="lang"
         href="#"
         (click)="redirect($event, lang)">
        <abbr title="{{'side.languages.' + lang | translate}}">{{lang | uppercase }}</abbr>
      </a>
      <abbr *ngIf="currentLang === lang"
            class="active"
            title="{{'side.languages.' + lang | translate}}">{{lang | uppercase }}</abbr>
    </li>
  </ul>
</side-zone-section>

<side-zone-section sectionId="contact">
  <div [innerHTML]="'side.contact.content' | translate"></div>
</side-zone-section>

<side-zone-section sectionId="faq" *ngIf="hasHighlightedQuestions">
  <a *ngFor="let doc of highlightedQuestions"
     class="faq-link"
     [href]="getHighlightedQuestionUrl(doc)"
     [title]="hasHighlightedQuestionsForCurrentLang ? (doc.label + ('side.faq.accessibility' | translate)) : ('side.faq.default-accessibility' | translate)"
     target="_blank">
    <i class="far fa-file-pdf fa-lg"></i>
    <abbr class="link-with-icon" [innerHTML]="doc.label"></abbr>
  </a>
</side-zone-section>


