/*!*************************************************************************************************
 *                                                                                                *
 *  - #%L                                                                                         *
 *  - CHVote-Receiver                                                                             *
 *  - %%                                                                                          *
 *  - Copyright (C) 2016 - 2018 République et Canton de Genève                                    *
 *  - %%                                                                                          *
 *  - This program is free software: you can redistribute it and/or modify                        *
 *  - it under the terms of the GNU Affero General Public License as published by                 *
 *  - the Free Software Foundation, either version 3 of the License, or                           *
 *  - (at your option) any later version.                                                         *
 *  -                                                                                             *
 *  - This program is distributed in the hope that it will be useful,                             *
 *  - but WITHOUT ANY WARRANTY; without even the implied warranty of                              *
 *  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                *
 *  - GNU General Public License for more details.                                                *
 *  -                                                                                             *
 *  - You should have received a copy of the GNU Affero General Public License                    *
 *  - along with this program. If not, see <http://www.gnu.org/licenses/>.                        *
 *  - #L%                                                                                         *
 *                                                                                                *
 **************************************************************************************************/

.lang {
  cursor: pointer;
}

.lang:hover {
  font-weight: bold;
}

.active {
  color: #666666;
  font-weight: bold;
  cursor: default;
}

abbr {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul label {
  vertical-align: middle;
}

li:nth-child(n+2)::before {
  content: "  |  ";
  white-space: pre;
}

.faq-link {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .faq-link {
    width: 165px;
  }
}
