<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*                                                                                            ~
  ~  - #%L                                                                                        ~
  ~  - CHVote-Receiver                                                                            ~
  ~  - %%                                                                                         ~
  ~  - Copyright (C) 2016 - 2018 République et Canton de Genève                                   ~
  ~  - %%                                                                                         ~
  ~  - This program is free software: you can redistribute it and/or modify                       ~
  ~  - it under the terms of the GNU Affero General Public License as published by                ~
  ~  - the Free Software Foundation, either version 3 of the License, or                          ~
  ~  - (at your option) any later version.                                                        ~
  ~  -                                                                                            ~
  ~  - This program is distributed in the hope that it will be useful,                            ~
  ~  - but WITHOUT ANY WARRANTY; without even the implied warranty of                             ~
  ~  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                               ~
  ~  - GNU General Public License for more details.                                               ~
  ~  -                                                                                            ~
  ~  - You should have received a copy of the GNU Affero General Public License                   ~
  ~  - along with this program. If not, see <http://www.gnu.org/licenses/>.                       ~
  ~  - #L%                                                                                        ~
  ~  */                                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="chvote-dialog">
  <h2 *ngIf="data.titleKey !== undefined" matDialogTitle [class.warning]="data.type === 'warning'">
    <i *ngIf="data.type === 'info'" class="fas fa-info-circle"></i>
    <i *ngIf="data.type === 'warning'" class="fas fa-exclamation-triangle"></i>
    <i *ngIf="data.type === 'error'" class="fas fa-times"></i>
    {{ data.titleKey | translate }}
  </h2>
  <mat-dialog-content>
    {{ data.messageKey | translate: data.messageParams }}
  </mat-dialog-content>
  <mat-dialog-actions [class.one-button]="nbButton == 1"
                      [class.two-buttons]="nbButton == 2">
    <button *ngIf="data.secondaryButtonKey !== undefined"
            id="dialog-secondary-button"
            mat-raised-button matDialogClose class="abort"
            (click)="close(false)">
      {{ data.secondaryButtonKey | translate | uppercase }}
    </button>
    <button id="dialog-primary-button" *ngIf="data.primaryButtonKey !== undefined"
            mat-raised-button matDialogClose class="primary"
            (click)="close(true)">
      {{ data.primaryButtonKey | translate | uppercase }}
    </button>
  </mat-dialog-actions>
</div>
