/*!*************************************************************************************************
 *                                                                                                *
 *  - #%L                                                                                         *
 *  - CHVote-Receiver                                                                             *
 *  - %%                                                                                          *
 *  - Copyright (C) 2016 - 2018 République et Canton de Genève                                    *
 *  - %%                                                                                          *
 *  - This program is free software: you can redistribute it and/or modify                        *
 *  - it under the terms of the GNU Affero General Public License as published by                 *
 *  - the Free Software Foundation, either version 3 of the License, or                           *
 *  - (at your option) any later version.                                                         *
 *  -                                                                                             *
 *  - This program is distributed in the hope that it will be useful,                             *
 *  - but WITHOUT ANY WARRANTY; without even the implied warranty of                              *
 *  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                *
 *  - GNU General Public License for more details.                                                *
 *  -                                                                                             *
 *  - You should have received a copy of the GNU Affero General Public License                    *
 *  - along with this program. If not, see <http://www.gnu.org/licenses/>.                        *
 *  - #L%                                                                                         *
 *                                                                                                *
 **************************************************************************************************/
input[type=checkbox] {
  margin: 15px -6px 0 6px;
}

input[type=checkbox] + span {
  vertical-align: sub;
  /* avoid empty text blocs to be highlighted when user clicks on checkboxes*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror /*
   -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Current not supported by any browser */
}

input[type=checkbox] + span {
  cursor: pointer;
}

input[type=checkbox] + span .background {
  color: white;
}

input[type=checkbox] + span .outline {
  color: white;
}

input[type=checkbox] + span .fa-check {
  display: none;
}

input[type=checkbox]:checked + span .fa-check {
  display: block;
}

input[type=checkbox] + span .focused {
  display: none;
}

input[type=checkbox]:focus + span .focused {
  display: block;
}

