/*!*************************************************************************************************
 *                                                                                                *
 *  - #%L                                                                                         *
 *  - CHVote-Receiver                                                                             *
 *  - %%                                                                                          *
 *  - Copyright (C) 2016 - 2018 République et Canton de Genève                                    *
 *  - %%                                                                                          *
 *  - This program is free software: you can redistribute it and/or modify                        *
 *  - it under the terms of the GNU Affero General Public License as published by                 *
 *  - the Free Software Foundation, either version 3 of the License, or                           *
 *  - (at your option) any later version.                                                         *
 *  -                                                                                             *
 *  - This program is distributed in the hope that it will be useful,                             *
 *  - but WITHOUT ANY WARRANTY; without even the implied warranty of                              *
 *  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                *
 *  - GNU General Public License for more details.                                                *
 *  -                                                                                             *
 *  - You should have received a copy of the GNU Affero General Public License                    *
 *  - along with this program. If not, see <http://www.gnu.org/licenses/>.                        *
 *  - #L%                                                                                         *
 *                                                                                                *
 **************************************************************************************************/

.check-zone {
  display: flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  background: white;
  padding: 15px;
}

.check-zone label {
  display: flex;
  align-items: center;
}

.check-zone label span {
  cursor: pointer;
}

.check-zone-checkbox {
  margin-top: -15px;
  min-width: 40px;
}

.authentication-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 300px;
}

.authentication-form-input-description {
  font-weight: bold;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (min-width: 576px) {

  .authentication-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .authentication-form-input-description {
    text-align: right;
    float: right;
    margin-right: 24px;
  }

  .authentication-form-input-example {
    text-align: right;
    float: right;
    margin-right: 24px;
  }

}

@media screen and (min-width: 970px) {
  .mat-form-field {
    width: 400px;
  }
}
