<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*                                                                                            ~
  ~  - #%L                                                                                        ~
  ~  - CHVote-Receiver                                                                            ~
  ~  - %%                                                                                         ~
  ~  - Copyright (C) 2016 - 2018 République et Canton de Genève                                   ~
  ~  - %%                                                                                         ~
  ~  - This program is free software: you can redistribute it and/or modify                       ~
  ~  - it under the terms of the GNU Affero General Public License as published by                ~
  ~  - the Free Software Foundation, either version 3 of the License, or                          ~
  ~  - (at your option) any later version.                                                        ~
  ~  -                                                                                            ~
  ~  - This program is distributed in the hope that it will be useful,                            ~
  ~  - but WITHOUT ANY WARRANTY; without even the implied warranty of                             ~
  ~  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                               ~
  ~  - GNU General Public License for more details.                                               ~
  ~  -                                                                                            ~
  ~  - You should have received a copy of the GNU Affero General Public License                   ~
  ~  - along with this program. If not, see <http://www.gnu.org/licenses/>.                       ~
  ~  - #L%                                                                                        ~
  ~  */                                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<vote-workflow-view></vote-workflow-view>

<h2 id="stepTitle">
  {{ 'global.step.title-prefix' | translate:currentStepNumber }}
  {{ 'identification.step-name' | translate }}
</h2>

<section role="alert" [innerHTML]="'identification.description' | translate"></section>

<h3 [innerHTML]="'identification.card-number.title' | translate"></h3>

<chvote-helper helperLinkKey="identification.card-number.description.image-help"
               helperLinkAccessibilityKey="identification.card-number.description.image-accessibility">
  <span [innerHTML]="'identification.card-number.description.text' | translate"></span>
</chvote-helper>

<section role="main" class="identification-form form-note">
  <form [formGroup]="identificationForm" novalidate>
    <div>
      <span class="identification-form-input-description" id="inputDescription">{{'identification.card-number.field.label' | translate}}</span>
      <br>
      <span class="identification-form-input-example"
            [innerHTML]="'identification.card-number.field.example' | translate"></span>
    </div>
    <mat-form-field id="matCardNumber" floatLabel=never>
      <input matInput
             id="cardNumber"
             formControlName="cardNumber"
             aria-labelledby="inputDescription"
             autocomplete="off">
      <mat-placeholder [innerHTML]="'identification.card-number.field.placeholder' | translate"></mat-placeholder>
      <mat-error *ngIf="identificationForm.invalid">
        <default-errors fieldName="cardNumber" [form]="identificationForm"></default-errors>
      </mat-error>
    </mat-form-field>
  </form>
</section>

<section role="complementary" *ngIf="hasCertificateDocumentation">
  <a [href]="certificateDocumentationUrl"
     [title]="'identification.complementary.certificate.accessibility' | translate"
     target="_blank">
    <i class="far fa-file-pdf fa-lg"></i>
    <abbr class="link-with-icon" [innerHTML]="'identification.complementary.certificate.text' | translate"></abbr>
  </a>
</section>

<section role="complementary">
  <chvote-expansion-panel accessibilityKey="identification.complementary.title.accessibility"
                          titleKey="identification.complementary.title.text"
                          contentKey="identification.complementary.content">
  </chvote-expansion-panel>
</section>

<nav>
  <button mat-raised-button class="abort" (click)="quit()">
    <i class="fas fa-times" data-fa-transform="up-1 left-6"></i>
    {{ 'global.actions.quit' | translate }}
  </button>
  <div class="button-with-hint">
    <button mat-raised-button class="primary" (click)="continue()" id="next-step-button"
            aria-describedby="next-step-hint">
      {{ 'global.actions.continue' | translate }}
      <i class="fas fa-arrow-right" data-fa-transform="up-1 right-6"></i>
    </button>
    <span id="next-step-hint" class="next-step-hint">
        {{ 'global.step.next-info' | translate:nextStepNumber }}{{ 'legal-information.step-name' | translate }}
    </span>
  </div>
</nav>
