/**************************************************************************************************
 *                                                                                                *
 *  - #%L                                                                                         *
 *  - CHVote-Receiver                                                                             *
 *  - %%                                                                                          *
 *  - Copyright (C) 2016 - 2018 République et Canton de Genève                                    *
 *  - %%                                                                                          *
 *  - This program is free software: you can redistribute it and/or modify                        *
 *  - it under the terms of the GNU Affero General Public License as published by                 *
 *  - the Free Software Foundation, either version 3 of the License, or                           *
 *  - (at your option) any later version.                                                         *
 *  -                                                                                             *
 *  - This program is distributed in the hope that it will be useful,                             *
 *  - but WITHOUT ANY WARRANTY; without even the implied warranty of                              *
 *  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                *
 *  - GNU General Public License for more details.                                                *
 *  -                                                                                             *
 *  - You should have received a copy of the GNU Affero General Public License                    *
 *  - along with this program. If not, see <http://www.gnu.org/licenses/>.                        *
 *  - #L%                                                                                         *
 *                                                                                                *
 **************************************************************************************************/

footer {
  padding-top: 10px;
  background: #333;
  font-size: 16px;
  line-height: 22px;
}

footer .col1 {
  flex: 1 1 auto;
}

footer .col2 {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  footer .col2 {
    margin-left: 20px;
    flex: 0 0 165px;
  }
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 40px 0 0;
  margin: 0;
}

footer li {
  display: inline-block;
  width: 285px;
  padding: 10px 0;
  color: #fff;
  border-bottom: 1px solid #999;
  background: none;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin-right: 30px;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  font-weight: 400;
}

footer a span {
  margin-left: 8px;
}

footer a:hover, footer a:focus {
  color: #b2b2b2;
}
