<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*                                                                                            ~
  ~  - #%L                                                                                        ~
  ~  - CHVote-Receiver                                                                            ~
  ~  - %%                                                                                         ~
  ~  - Copyright (C) 2016 - 2018 République et Canton de Genève                                   ~
  ~  - %%                                                                                         ~
  ~  - This program is free software: you can redistribute it and/or modify                       ~
  ~  - it under the terms of the GNU Affero General Public License as published by                ~
  ~  - the Free Software Foundation, either version 3 of the License, or                          ~
  ~  - (at your option) any later version.                                                        ~
  ~  -                                                                                            ~
  ~  - This program is distributed in the hope that it will be useful,                            ~
  ~  - but WITHOUT ANY WARRANTY; without even the implied warranty of                             ~
  ~  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                               ~
  ~  - GNU General Public License for more details.                                               ~
  ~  -                                                                                            ~
  ~  - You should have received a copy of the GNU Affero General Public License                   ~
  ~  - along with this program. If not, see <http://www.gnu.org/licenses/>.                       ~
  ~  - #L%                                                                                        ~
  ~  */                                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="title">
  <chvote-coat-of-arms [domainOfInfluence]="ballot.domainOfInfluence" class="coat-of-arms"></chvote-coat-of-arms>
  <div class="title-center">
    <h4 localized-label [localizedLabel]="ballot.localizedLabel"></h4>
    <chvote-documents [documents]="getDocumentations()" inline="true"></chvote-documents>
  </div>

  <ng-container *ngIf="!empty">
    <div *ngIf="display === 'summary' || display === 'control'"
         class="title-summary">
      <span>{{'summary.choices.your-choices' | translate}}</span>
      <i class="fas fa-caret-down fa-lg" data-fa-transform="up-6"></i>
    </div>
    <div *ngIf="display === 'control'"
         class="title-summary">
      <span>{{'control.verification-code.your-codes' | translate}}</span>
      <i class="fas fa-caret-down fa-lg" data-fa-transform="up-6"></i>
    </div>

    <div *ngIf="display === 'summary' || display === 'control'" class="title-summary-small-device">
      <span>{{'summary.choices.your-choices' | translate}}</span>
      <span *ngIf="display === 'control'" class="verification-code">{{'control.verification-code.your-codes' | translate}}</span>
      <i class="fas fa-caret-down fa-lg" data-fa-transform="up-6"></i>
    </div>
  </ng-container>
</div>
