/*!*************************************************************************************************
 *                                                                                                *
 *  - #%L                                                                                         *
 *  - CHVote-Receiver                                                                             *
 *  - %%                                                                                          *
 *  - Copyright (C) 2016 - 2018 République et Canton de Genève                                    *
 *  - %%                                                                                          *
 *  - This program is free software: you can redistribute it and/or modify                        *
 *  - it under the terms of the GNU Affero General Public License as published by                 *
 *  - the Free Software Foundation, either version 3 of the License, or                           *
 *  - (at your option) any later version.                                                         *
 *  -                                                                                             *
 *  - This program is distributed in the hope that it will be useful,                             *
 *  - but WITHOUT ANY WARRANTY; without even the implied warranty of                              *
 *  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                *
 *  - GNU General Public License for more details.                                                *
 *  -                                                                                             *
 *  - You should have received a copy of the GNU Affero General Public License                    *
 *  - along with this program. If not, see <http://www.gnu.org/licenses/>.                        *
 *  - #L%                                                                                         *
 *                                                                                                *
 **************************************************************************************************/
.description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.check-logo {
  flex: 0 0 45px;
}

.description-content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.description-content .title {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 5px;
}

.code {
  background-color: #f2f2f2;
  font-size: 1.7em;
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}
